<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter</title>
    <style>
        h1 {
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 0 auto;
            text-align: center;
            background-color: #f9f9f9;
        }

        div {
            margin: 10px 0;
        }

        label {
            display: inline-block;
            width: 200px;
        }

        button {
            width: 100px;
            margin: 10px auto;
        }
    </style>
</head>
<body>
    <!-- Formulaire à remplir pour ajouter une seule donnée-->
    <form method="POST">
        {% csrf_token %}
        {{ formulaire.non_field_errors }}
        <h1>Ajouter une nouvelle donnée</h1>
        <div>
            <label for="point_echantillonnage">Point échantillonnage :</label>
            {{ formulaire.point_echantillonnage }}
        </div>
        
        <div>
            <label for="plan_eau">Plan eau :</label>
            {{ formulaire.plan_eau }}
        </div>

        <div>
            <label for="administration">Administration :</label>
            {{ formulaire.administration }}
        </div>

        <div>
            <label for="nom">Nom :</label>
            {{ formulaire.nom }}
        </div>

        <div>
            <label for="date_heure">Date et heure :</label>
            {{ formulaire.date_heure }}
        </div>

        <div>
            <label for="temperature">Température :</label>
            {{ formulaire.temperature }}
        </div>

        <div>
            <label for="pH">pH :</label>
            {{ formulaire.pH }}
        </div>

        <div>
            <label for="coliformes_fecaux">Coliformes fécaux :</label>
            {{ formulaire.coliformes_fecaux }}
        </div>

        <div>
            <label for="prec_tot_60h">Précipitations totaux des derniers 60h :</label>
            {{ formulaire.prec_tot_60h }}
        </div>

        <div>
            <label for="latitude">Latitude :</label>
            {{ formulaire.latitude }}
        </div>

        <div>
            <label for="longitude">Longitude :</label>
            {{ formulaire.longitude }}
        </div>

        <button type="submit">Enregistrer</button>
    </form>
    <!-- Bouton pour revenir dans la page d'accueil-->
    <a href="/">Retour page d'accueil</a>
</body>
</html>
