<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Détails</title>
</head>
<body>
    <!-- Détails du point ajouté-->
    <h1>Détails de {{data.point_echantillonnage}}</h1>
    <p>Plan eau: {{ data.plan_eau }}</p>
    <p>Administration: {{ data.administration }}</p>
    <p>Nom: {{  data.nom }}</p>
    <p>Date et heure: {{ data.date_heure }}</p>
    <p>Température: {{ data.temperature }}</p>
    <p>pH: {{ data.pH }}</p>
    <p>Coliformes fécaux: {{ data.coliformes_fecaux }}</p>
    <p>Précipitations totaux des 60h: {{ data.prec_tot_60h }}</p>
    <p>Latitude: {{ data.latitude }}</p>
    <p>Longitude: {{ data.longitude }}</p>
    <!-- Bouton pour revenir dans la page d'accueil-->
    <a href="/">Retour page d'accueil</a>
</body>
</html>
         