<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des données de qualité d'eau</title>
</head>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>
<body>
    <!-- Bouton pour revenir dans la page d'accueil-->
    <a href="/">Retour page d'accueil</a>
    <h1>Liste des données de qualité d'eau</h1>
    <!-- Tableau de toutes les points-->
    <table>
        <!-- Entête -->
        <thead>
            <tr>
                <th>Point échantillonnage</th>
                <th>Plan eau</th>
                <th>Administration</th>
                <th>Nom</th>
                <th>Date et heure</th>
                <th>Température</th>
                <th>pH</th>
                <th>Coliformes fécaux</th>
                <th>Précipitations totaux des 60h</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
        </thead>
        <!-- Informations -->
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.point_echantillonnage }}</td>
                <td>{{ item.plan_eau }}</td>
                <td>{{ item.administration }}</td>
                <td>{{ item.nom }}</td>
                <td>{{ item.date_heure }}</td>
                <td>{{ item.temperature }}</td>
                <td>{{ item.pH }}</td>
                <td>{{ item.coliformes_fecaux }}</td>
                <td>{{ item.prec_tot_60h }}</td>
                <td>{{ item.latitude }}</td>
                <td>{{ item.longitude }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
